
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">HerbiDev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/etudiants" routerLinkActive="active" ariaCurrentWhenActive="page">Liste <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link"  routerLink="/groupes" routerLinkActive="active" ariaCurrentWhenActive="page">Groupes</a>
        <a class="nav-item nav-link" routerLink="/sujets" routerLinkActive="active" ariaCurrentWhenActive="page">Sujets</a>
      </div>
    </div>
  </nav>


  <div class="container" id="main-container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="mb-3">
          <h5 class="card-title">Listes des étudiants <span class="text-muted fw-normal ms-2">()</span></h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">

          <div>
            <button class="mr-2 btn btn-success"> Réassigner groupe</button>
          </div>

          <div>
            <a data-toggle="modal" data-target="#addStudentModal" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Ajouter</a>
          </div>


        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <div class="table-responsive">
            <table class="table project-list-table table-nowrap align-middle table-borderless">
              <thead>
                <tr>

                  <th scope="col">Prénom</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Groupe</th>
                  <th scope="col">Sujet</th>
                  <th scope="col" style="width: 200px;">Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let student of students">
                <tr>
                  <td><a href="#" class="text-body"> {{student.firstName}}</a></td>
                  <td><a href="#" class="text-body"> {{student.lastName}}</a></td>

                  <td><span class="badge badge-soft-success mb-0">Full Stack Developer</span></td>

                  <td></td>
                  <td>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                        <a href=""  data-bs-toggle="tooltip" data-toggle="modal" data-target="#updateStudentModal" data-bs-placement="top" title="Editer" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="" data-id="{{student.id}}" data-bs-toggle="tooltip" data-toggle="modal" data-target="#deleteStudentModal" data-bs-placement="top" title="supprimer" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-0 align-items-center pb-4">
      <!-- <div class="col-sm-6">
        <div>
          <p class="mb-sm-0">Showing 1 to 10 of 57 entries</p>
        </div>
      </div> -->
      <!-- <div class="col-sm-6">
            <div class="float-sm-end">
                <ul class="pagination mb-sm-0">
                    <li class="page-item disabled">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>

  </div>

  <!-- Modal add student -->
<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStudentModal">Ajouter un étudiant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddStudent(addForm)">
          <div class="form-group">
             <label for="name">Prénom</label>
             <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="Name" required>
         </div>
          
      <div class="modal-footer">
        <button type="button" id="add-student-form" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>

<!-- Modal update student -->
<div class="modal fade" id="updateStudentModal" tabindex="-1" role="dialog" aria-labelledby="updateStudentModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateStudentModal">Modifier un étudiant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <form #updateForm="ngForm" >
          <div class="form-group">
            <label for="name">Id</label>
             <input type="text"  name="id" class="form-control" id="id" placeholder="id" required>
          
             <label for="name">Prénom</label>
             <input type="text"  name="firstName" class="form-control" id="firstName" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="Name" required>
         </div>
          
      <div class="modal-footer">
        <button type="button" id="update-student-form" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button (click)="onUpdateStudent(updateForm.value)" type="submit" class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>

<!-- Modal delete student -->
<div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="deleteStudentModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteStudentModal">Supprimer l'étudiant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <form >
          <input class="btn btn-danger" type="submit" value="Supprimer">
        </form>
        
      </div>
    </div>
  </div>
</div>
  




